<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Alerts</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                
                

            </f:facet>

            
<style type="text/css">
        .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
             border: none;
        }
    </style>
                 <style type="text/css">


                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #b95c9c!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #b95c9c!important;

                    width: 100%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }

             .panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #66cccc!important;
}

            </style>
        </h:head>

        <h:body>
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

<p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

                             <p:menubar styleClass="mymenucss">  
    <p:menuitem value="Home" url="DashBoard.xhtml" icon="ui-icon-home"/>

    <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} WAKD Alerts" url="Alerts.xhtml"   icon="ui-icon-play"/>
     
      
</p:menubar>
                        
                        <p:panel id="panel" header="Alerts Filter" style="margin-bottom:10px;" styleClass="panelnephron">  
                            <p:panelGrid columns="7">
<h:outputLabel for="typemdmc" value="Alert Type : " />
                                <p:selectOneMenu id="typemdmc" value="#{alertsBean.preset}">
                                    <f:selectItem itemLabel="All"   itemValue="0" />
                                    <f:selectItem itemLabel="Critical"   itemValue="1" />
                                    
                                </p:selectOneMenu>

                                <h:outputLabel for="dateto" value="Date From : " />
                                <p:calendar value="#{alertsBean.dateFromM}"  id="dateto" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                                                <h:outputLabel for="datefrom" value="Date To : " />
                                <p:calendar value="#{alertsBean.dateToM}"  id="datefrom" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                
                                
                                <p:commandButton value="Refresh" update="panel2234567,alertTable" id="ajax"  
                                                 actionListener="#{alertsBean.UpdateRecords}" styleClass="myCustomStyle, .ui-widget-content myCustomStyle"/>
                            </p:panelGrid>
                        </p:panel>

                        <p:panel id="panel2234567" header="Alerts" style="margin-bottom:10px;" styleClass="panelnephron"> 
                            <p:dataTable var="patientdss" value="#{alertsBean.sumups2}"  paginator="true" rows="10"  
                                         id="alertTable" styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                <f:facet name="header">  
                                    WAKD Alerts
                                </f:facet>  

                                
                          
                                <p:column headerText="Patient Name"  id="dsspfname" style="text-align:center">  
                                    <h:outputText value="#{personalInfo.firstname} #{personalInfo.lastname}"/>  
                                </p:column>  

                                

                                <p:column headerText="Message"  id="dssplname" style="text-align:center">  
                                    <h:outputText value="#{patientdss.ruleresults1}"/>  
                                </p:column>  
                                <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                    <h:outputText value="#{patientdss.ruleresults2}"/>  
                                </p:column>  





                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
