<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta http-equiv='cache-control' content='no-cache'/>
	<meta http-equiv='expires' content='0'/>
	<meta http-equiv='pragma' content='no-cache'/>

                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Patient DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                
            </f:facet>

            

            
            <style>  
                
                .ui-timeline-axis {  
                    background-color: #5D99C3;  
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0'); /* for IE */  
                    background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0)); /* for webkit browsers */  
                    background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0); /* for firefox 3.6+ */  
                }  
                .ui-timeline-axis-text {  
                    color: white !important;  
                }  
                .ui-timeline-event {  
                    color: lightgrey !important;  
                    border-radius: 5px;  
                }  
                .ui-timeline-event-content {  
                    padding: 5px;  
                }  
                .green{  
                    background-image: none !important;  
                    background-color: green !important;  
                }  
                .red{  
                    background-image: none !important;  
                    background-color: red !important;  
                }  

                .alarm{  
                    background-image: none !important;  
                    background-color: #b95c9c !important; 
                    font: black!important;
                    color:black!important;
                }  
                
                .blue{  
                    background-image: none !important;  
                    background-color: blue !important;  
                }  
            </style>  
<style type="text/css">
        .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
             border: none;
        }

.ui-tabs { 
    position: relative; 
    padding: .2em; 
    zoom: 1; 
    
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav { 
    margin: 0;
    
}

.ui-tabs .ui-tabs-nav li { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap; 
    
}

.ui-tabs .ui-tabs-nav li a { 
    float: left; 
    padding: .5em 1em; 
    text-decoration: none; 
    
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a { 
    cursor: text; 
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
    cursor: pointer; 
    
    background-color: #66cccc;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel { 
    border-width: 0; 
    padding: 1em 1.4em; 
    
}

.ui-tabs .ui-tabs-nav li { 
    display: block; 
 
}

.ui-tabs .ui-tabs-nav li .ui-icon { 
    float: left; 
    margin: 0.4em 0.2em 0 0; 
    cursor: pointer; 
 
}

/* per orientation settings */
.ui-tabs.ui-tabs-top .ui-tabs-nav li { 
    border-bottom: 0;
    top: 1px; 
 
}

.ui-tabs.ui-tabs-bottom .ui-tabs-nav li { 
    border-top: 0;
 
}

.ui-tabs.ui-tabs-top .ui-tabs-nav { 
    padding: .2em .2em 0; 
 
}

.ui-tabs.ui-tabs-bottom .ui-tabs-nav { 
    padding: 0 .2em .2em; 
 
}
    </style>
    
        </h:head>

        <h:body >
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

           <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">
       
       
                        <p:panel id="panel2234567"  styleClass="panelnephron"> 
                        
                                                                
<p:menubar styleClass="mymenucss">  
    <p:menuitem value="Home" url="DashBoard.xhtml"  icon="ui-icon-home"/>
    
    <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} Personal Details" url="Patient_Details.xhtml"   icon="ui-icon-play"/>
   
      
</p:menubar>

                            
                            
                        
        <h:panelGrid columns="2" id="pdetails293839192383232211">  
                                    <h:outputLabel  value="Title : " />  
                                    <h:outputLabel  value="#{personalInfo.title}"/>  

                                    <h:outputLabel  value="First Name : " />  
                                    <h:outputLabel  value="#{personalInfo.firstname}"/>  



                                    

                                    <h:outputLabel  value="Father Name : " />  
                                    <h:outputLabel  value="#{personalInfo.fathername}"/>  

                                    <h:outputLabel  value="LastName : " />  
                                    <h:outputLabel  value="#{personalInfo.lastname}"/>  
                                    
                                    </h:panelGrid>

        <h:panelGrid columns="2" id="pdetails29383919238423sss">  
                                    <h:outputLabel  value="Street : " />  
                                    <h:outputLabel  value="#{personalInfo.street}"/>  
                                    <h:outputLabel  value="Street No : " />  
                                    <h:outputLabel  value="#{personalInfo.streetno}"/>  
                                    <h:outputLabel  value="Postcode : " />  
                                    <h:outputLabel  value="#{personalInfo.postcode}"/>  
                                    <h:outputLabel  value="City : " />  
                                    <h:outputLabel  value="#{personalInfo.city}"/>  
                                    </h:panelGrid>

        <h:panelGrid columns="2" id="pdetails29383919238">  
                                    <h:outputLabel  value="Personal Email : " />  
                                    <h:outputLabel  value="#{personalInfo.email}"/>  
                                    <h:outputLabel  value="Personal Mobile : " />  
                                    <h:outputLabel  value="#{personalInfo.mobile}"/>  
                                    <h:outputLabel  value="Personal Landline Number : " />  
                                    <h:outputLabel  value="#{personalInfo.phone}"/>  
                                    
                                    <h:outputLabel  value="Work Email : " />  
                                    <h:outputLabel  value="#{personalInfo.companyemail}"/>  
                                    <h:outputLabel  value="Work Mobile : " />  
                                    <h:outputLabel  value="#{personalInfo.companymobile}"/>  
                                    <h:outputLabel  value="Work Landline Number : " />  
                                    <h:outputLabel  value="#{personalInfo.companyphone}"/>  
                                    </h:panelGrid>

</p:panel>
       
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
