<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Communication GUI</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">


              


                <p:layoutUnit position="center">
                    <h:form id="form">  

                        <p:panel id="sports" header="Users">  
                            <p:contextMenu for="cars" >  
                                <p:menuitem value="Send Alarm" update="cars" icon="ui-icon-close" onclick="PF('dlg3').show();"/>  
                                <p:menuitem value="Send Message" update="cars" icon="ui-icon-close" onclick="PF('dlg').show();"/>  
                                <p:menuitem value="Send File" update="cars" icon="ui-icon-close" onclick="PF('dlg2').show();"/>  
                            </p:contextMenu>  

                            
                            <p:poll interval="2"   
                                    listener="#{tableBean.populateRandomCars}" update="cars" />  

                            <p:dataTable id="cars" var="car" value="#{tableBean.carsSmall}" rowKey="#{car.callid}"  
                                         selection="#{tableBean.selectedCar}" selectionMode="single">  

                                <p:column headerText="Title">  
                                    #{car.callid}  
                                </p:column>  

                              <p:column headerText="Username">  
                                    #{car.type}  
                                </p:column>

                                <p:column headerText="IMEI">  
                                    #{car.imei}  
                                </p:column> 

                                <p:column headerText="IP">  
                                    #{car.ip}  
                                </p:column> 

                               




                            </p:dataTable>    
                            
                            <p:commandButton value="Send Alarm" update="cars"
                  
                 onclick="PF('dlg3').show();" />
                            
                            
                            <p:commandButton value="Send Message" update="cars"
                  
                 onclick="PF('dlg').show();" />
                            
                            
                            <p:commandButton value="Send File" update="cars"
                  
                 onclick="PF('dlg2').show();" />
                        </p:panel>  

                        <p:dialog header="Instant Message" widgetVar="dlg" resizable="true">  


                            <h:panelGrid columns="2" style="margin-bottom:10px">  
                                <h:outputLabel for="firstname" value="Message:" />  
                                <p:inputText id="firstname" value="#{tableBean.firstname}" />  
                            </h:panelGrid>  

                            <p:commandButton id="submitButton" value="Submit" update="display" actionListener="#{tableBean.sendmessage}" oncomplete="PF('dlg').hide();"/>  


                        </p:dialog>  


                         <p:dialog header="Alarm" widgetVar="dlg3" resizable="true">  


                            <h:panelGrid columns="2" style="margin-bottom:10px">  
                                <h:outputLabel for="firstname123" value="Alarm Message:" />  
                                <p:inputText id="firstname123" value="#{tableBean.firstname22}" />  
                            </h:panelGrid>  

                            <p:commandButton id="submitButton123" value="Submit" update="display" actionListener="#{tableBean.sendalarm}" oncomplete="PF('dlg3').hide();"/>  


                        </p:dialog>  
                        

                        <p:outputPanel id="display" style="display:block;margin-top:10px;">  

                            <h:outputText id="name" rendered="false" value="Message Send #{tableBean.firstname}" />  
                        </p:outputPanel> 

                        <p:dialog header="Files Upload" widgetVar="dlg2" resizable="true">  




                            <h:form enctype="multipart/form-data">
                                <p:fileUpload
                                    mode="advanced"
                                    fileUploadListener="#{tableBean.handleFileUpload}"
                                    allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|pdf|PDF|txt|TXT)$/" 
                                    auto="true"/>
                            </h:form>
                            <p:commandButton id="submitButtonfile" value="Close" update="display"  oncomplete="PF('dlg2').hide();"/>  


                        </p:dialog>                 
                    </h:form>  
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>



