<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Administration</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
                     <style type="text/css">
              .ui-layout-unit-header{
                    background: #11111b url(../images/m3.png) 50% 50% repeat-x !important;
                     font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                }
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
                .ui-layout-unit-top .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-north .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-south .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-center .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-header{
                    background-color: #111116 !important;
                    border:none!important;
                    border-color: #111116;
                }

                .ui-layout-unit-content{
                    background-color: #111116;
                    border: none!important;
                    border-color: #111116;
                }

                .ui-layout-pane-north.ui-widget-content,.ui-layout-unit-north{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-south.ui-widget-content,.ui-layout-unit-south{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-center.ui-widget-content,.ui-layout-unit-center{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-layout-unit-top, .ui-layout-bd,.ui-layout-pane-north.ui-widget-content{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }  


                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
      border-width:1px;
      border-color: #b95c9c!important;
      border-style: solid;
      text-align: center;
      font-size: 10px!important;color:white!important;
      font-weight: bold!important;
      background: #b95c9c!important;
      
      width: 100%;
}

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a { 
    cursor: text; 
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
    cursor: pointer; 
    
    background-color: #66cccc;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

            </style>

            <style>  
        .mymenucss{
            background-color: #b95c9c!important;
            font-weight: bold!important;
        }
        
        .mymenucss.ui-menu .ui-menu .ui-menu-parent,
        .ui-menu-list .ui-widget-header,
        .ui-menu .ui-widget-header h1
        {
            background: #b95c9c!important;
            
            
    
    background-size: 100% 100%!important;
    font-weight: bold!important;
            
        }
 
        .companyHeaderGrid tr, .companyHeaderGrid td {
    border: none;
    font-size: 15px;color:white;
     padding: 12px 12px;
}

.companyHeaderGrid2 tr, .companyHeaderGrid2 td {
    
    border-bottom-color: #66cccc;
    border-width: thick;
    border-top-color: #66cccc;
    border-left-color: #66cccc;
    border-right-color: #66cccc;
}

    </style>   
        </h:head>

        <h:body  style="width: 100%; height: 100%;background-color: #11111b;">
            <h:form id="form"> 
<p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>

                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="190" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>

                    </p:layoutUnit>

<!--                    <p:layoutUnit position="south" size="50" resizable="true"  closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Nephron
                        </div>
                    </p:layoutUnit>-->
<p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>
                        
                    </p:layoutUnit>

                    <!--                <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                                        <ui:include src="menu_i.xhtml"></ui:include>
                    
                                    </p:layoutUnit>-->

                    <p:layoutUnit position="center">

                        <center>     

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


                            <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                            <p:panelGrid columns="1" styleClass="companyHeaderGrid2">
                            <h:panelGroup id="viewArea" layout="block">

                                <p:panelGrid columns="2" styleClass="companyHeaderGrid">




                                    <p:outputLabel for="password" value="Passphrase:" style="font-size: 13px;color:#66cccc;" />
                                    <p:password  value="#{loginManager.password}" 
                                                 id="password" required="true" label="password" />

                                    <br/>

                                        <p:commandButton id="loginButton" value="Login" 
                                                        
                                                         action="#{loginManager.login}" 
                                                         type="submit"
styleClass="myCustomStyle, .ui-widget-content myCustomStyle"
                                                         >

                                        </p:commandButton>




                                    
                                </p:panelGrid>

                            </h:panelGroup>


 </p:panelGrid>
                            


                        </center>


                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>

