<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"

    xmlns:p="http://primefaces.org/ui">

     <style>  
        .mymenucss2{
            /*background-color: #43434d !important;*/
            
            background: #11111b url(../images/m1.png) 50% 50% repeat !important;color: #11111b !important;border: none;
            font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
        }
        
        .mymenucss2.ui-menu .ui-menu .ui-menu-parent,
        .ui-menu-list .ui-widget-header,
        .ui-menu .ui-widget-header h1
        {
            /*background: #b6bec0!important;*/
            
            
    background: #11111b url(../images/m2.png) 50% 50% repeat !important;color: #11111b !important;border: none;
    /*background-size: 100% 100%!important;*/
    
            font-size: 13px!important;color:black!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
        }
    </style>
   
    <p:menu rendered="#{loginManager.loginerror}">
        <p:submenu label="Login">
            <p:menuitem value="Login" url="index.xhtml" />
        </p:submenu>
    </p:menu>
    
    <p:menu rendered="#{loginManager.loginok}" styleClass="mymenucss">  

        <p:submenu label="Account"   style="font-size: 13px!important;color:black!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;">
        <p:menuitem value="Logout" action="#{loginManager.logout}" icon="ui-icon-close"   style="font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>  
        </p:submenu>
        
        <p:submenu label="PKI"   style="font-size: 13px!important;color:black!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;">
            <p:menuitem value="Security Key" url="umngr.xhtml"   style="font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
        </p:submenu>

        <p:submenu label="Manage"   style="font-size: 13px!important;color:black!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;">
            <p:menuitem value="Doctors" url="DoctorPage.xhtml"   style="font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
            <p:menuitem value="Patients" url="PatientPage.xhtml"   style="font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
            
               <p:menuitem value="Alerts" url="CriticalAlerts.xhtml"   style="font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
               
        </p:submenu>
    </p:menu>

    
</ui:composition>