<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://code.google.com/p/gmaps4jsf/"

      >

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Create Crisis</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>


        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
<p:panelGrid columns="1"  > 

                        <p:menubar>  
                            <p:submenu label="Crisis" icon="ui-icon-document">  

                                <p:menuitem value="Save" action="#{crisiselementsmanagerbean.createCrisis}" />  




                                <p:separator />  
                                <p:menuitem value="Quit" url="EsponderDashBoard.xhtml" />  
                            </p:submenu>  


                        </p:menubar>
                        <p:accordionPanel>
                            <p:tab title="Informations">

                                <p:growl id="growl" showDetail="true" />  
                                <p:dashboard id="board" model="#{crisiselementsmanagerbean.model}">  
                                    <p:ajax event="reorder" listener="#{crisiselementsmanagerbean.handleReorder}" update="growl" />  

                                    <p:panel id="details" header="Details" style="width:620px">  
                                        <p:panelGrid columns="2"  style="width:610px">  



                                            <h:outputLabel for="shorttitle" value="Short Title: *" />  
                                            <p:inputText id="shorttitle" value="#{crisiselementsmanagerbean.titlec}" style="width:270px"  label="shorttitle"/>  

                                            <h:outputLabel for="Location" value="Location: *" />  
                                            <p:panelGrid columns="2"  style="width:410px">
                                                <h:outputLabel value="Address : *" />  
                                                <p:inputText id="Location" value="#{crisiselementsmanagerbean.location1}" style="width:170px"  label="location"/> 
                                                <h:outputLabel value="Postcode : *" />  
                                                <p:inputText id="Location2" value="#{crisiselementsmanagerbean.location2}" style="width:170px"  label="location"/> 
                                                <h:outputLabel value="City : *" />  
                                                <p:inputText id="Location3" value="#{crisiselementsmanagerbean.location3}" style="width:170px"  label="location"/> 
                                                <h:outputLabel value="Country : *" />  
                                                <p:inputText id="Location4" value="#{crisiselementsmanagerbean.location4}" style="width:170px"  label="location"/> 
                                                <f:facet name="footer">
                                                    <p:commandButton value="Show On Map"  id="ajax"  
                                                                     actionListener="#{crisiselementsmanagerbean.doSearchajax}" type="submit" ajax="false"/>

                                                </f:facet>
                                            </p:panelGrid>


                                            <h:outputLabel for="inlineCal1" value="Start Date: *" />
                                            <p:calendar value="#{crisiselementsmanagerbean.date1}"  id="inlineCal1" showOn="button" style="width:270px"/>

                                            <h:outputLabel for="inlineCal2" value="End Date: *" />
                                            <p:calendar value="#{crisiselementsmanagerbean.date2}"  id="inlineCal2" showOn="button" style="width:270px"/>
                                            <h:outputLabel for="status" value="Status: *" />
                                            <p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status" style="width:270px">  
                                                <f:selectItem itemLabel="Select One" itemValue="" />  
                                                <f:selectItem itemLabel="In Progress" itemValue="In Progress" />  
                                                <f:selectItem itemLabel="Finished" itemValue="Finished" />  

                                            </p:selectOneMenu>  

                                        </p:panelGrid>  
                                    </p:panel> 




                                    <p:panel id="maps" header="Map" style="width:620px">  





                                    </p:panel>  

                                    <p:panel id="typearea" header="Crisis Type Area">  
                                        <p:selectCheckboxMenu value="#{crisiselementsmanagerbean.naturalDisaster}" label="Disaster Type" filter="true"  filterMatchMode="startsWith" panelStyle="width:220px">  
                                            <f:selectItems value="#{crisiselementsmanagerbean.nDisaster}" />  
                                        </p:selectCheckboxMenu>

                                        <p:selectCheckboxMenu value="#{crisiselementsmanagerbean.otherDisaster}" label="Feature Type" filter="true"  filterMatchMode="startsWith" panelStyle="width:220px">  
                                            <f:selectItems value="#{crisiselementsmanagerbean.oDisaster}" />  
                                        </p:selectCheckboxMenu>
                                    </p:panel>  

                                    <p:panel id="additionalinfo" header="Additional Info">  
                                        <p:editor id="editor" value="#{crisiselementsmanagerbean.addinfo}" width="400"/>  




                                    </p:panel>  

                                    <p:panel id="alert" header="Alert Level">  
                                        <p:selectOneMenu value="#{crisiselementsmanagerbean.alertlevel}" id="alertlevel">  


                                            <f:selectItems value="#{crisiselementsmanagerbean.values}"/>
                                        </p:selectOneMenu>   
                                    </p:panel>  

                                </p:dashboard>
                            </p:tab>
                           
                        </p:accordionPanel>
</p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
