<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css"> .foo>tbody>tr>td { vertical-align: top; } </style>
            <style type="text/css"> .foo { vertical-align: top; } </style>



            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Crisis Journal</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                
            </f:facet>
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                   

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" >
                        <p:panelGrid columns="2"  styleClass="foo" columnClasses="foo">  


                            <p:dataGrid var="car" value="#{journalview.eventsDTO}" columns="1"
                                        rows="4" paginator="true"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="4,8,12,16,20"  style="width:500px">

                                <p:panel header="#{car.eseverity}" style="text-align:center;width:490px">
                                    <h:panelGrid columns="1" style="width:470px" cellpadding="5">  
                                        <h:outputText value="TimeStamp: #{car.etimestamp}"/>   

                                        

                                        <h:outputText value="Source: #{car.esource}" />  

                                        
                                        <h:outputText value="Severity: #{car.eseverity}" /> 
                                        
                                        <p:inputTextarea rows="10" cols="60"         
                                                         value="#{car.eaddinfo}" autoResize="false"/> 
                                    </h:panelGrid>  
                                </p:panel>

                            </p:dataGrid>
                            <p:panel id="searchcjournal" header="Search" >
                                <p:panelGrid columns="2"  styleClass="foo" columnClasses="foo">

                                    <h:outputLabel for="inlineCal1" value="From Date:" />
                                    <p:calendar value="#{journalview.date1}"  id="inlineCal1" pattern="MM/dd/yyyy HH:mm" showOn="button"/>

                                    <h:outputLabel for="inlineCal2" value="To Date:" />
                                    <p:calendar value="#{journalview.date2}"  id="inlineCal2" pattern="MM/dd/yyyy HH:mm" showOn="button"/>


                                    <h:outputLabel for="action" value="Severity:" />
                                    <p:selectOneMenu value="#{journalview.jaction}" id="action">  
                                        <f:selectItem itemLabel="FATAL EVENTS" itemValue="" />  
                                        <f:selectItem itemLabel="MINIMAL" itemValue="MINIMAL" />
                                        <f:selectItem itemLabel="MEDIUM" itemValue="MEDIUM" />
                                        <f:selectItem itemLabel="SERIOUS" itemValue="SERIOUS" />
                                        
                                        <f:selectItem itemLabel="SEVERE" itemValue="SEVERE" />
                                        <f:selectItem itemLabel="FATAL" itemValue="FATAL" />
                                        <f:selectItem itemLabel="UNDEFINED" itemValue="UNDEFINED" />

                                    </p:selectOneMenu>  
 

<!--                                    <h:outputLabel for="actor" value="Actor:" />
                                    <p:selectOneMenu value="#{journalview.jactor}" id="actor">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 

                                    <h:outputLabel for="crisiscontext" value="Crisis Context:" />
                                    <p:selectOneMenu value="#{journalview.jcrisiscontext}" id="crisiscontext">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 



                                    <h:outputLabel for="operationcenter" value="Operation Center:" />
                                    <p:selectOneMenu value="#{journalview.joperationcenter}" id="operationcenter">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 


                                    <h:outputLabel for="snapshot" value="Snapshot:" />
                                    <p:selectOneMenu value="#{journalview.jsnapshot}" id="snapshot">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> 


                                    <h:outputLabel for="system" value="System:" />
                                    <p:selectOneMenu value="#{journalview.jsystem}" id="system">  
                                        <f:selectItem itemLabel="Select One" itemValue="" />  
                                        <f:selectItem itemLabel="Create" itemValue="1" />
                                        <f:selectItem itemLabel="Update" itemValue="2" />
                                        <f:selectItem itemLabel="Delete" itemValue="3" />

                                    </p:selectOneMenu> -->


                                    <f:facet name="footer">  
                                         <p:commandButton id="removelogistics" value="Search" 
                                                     icon="ui-icon-search" style="margin:0"
                                                     action="#{journalview.searchonlist}" 
                                                     type="submit"
                                                     >
                                             
                        
                    </p:commandButton>
                                        
                                       
                                        
                                    </f:facet> 
                                </p:panelGrid>
                            </p:panel>
                        </p:panelGrid>

                        
                        
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
