<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://code.google.com/p/gmaps4jsf/"

      >

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Edit Crisis</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175"  collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
<p:panelGrid columns="1"> 
<p:menubar>  
                                    <p:submenu label="Crisis" icon="ui-icon-document">  
                                        <p:menuitem value="Save" action="#{mapBean.updateInfoCrisisSaveFromManager}"/>  
                                        <p:separator />  
                                        <p:menuitem value="Quit" url="CrisisManager.xhtml" />  
                                    </p:submenu>  


                                </p:menubar>

                        <p:accordionPanel>
                            
                            <p:tab title="Informations">
                                
                                <p:growl id="growl" showDetail="true" />  


                                <p:panel id="details"  header="Details" >  
                                    <p:panelGrid id="details222222" columns="2"  >  
                                        <h:outputLabel for="inlineCal2" value="End Date: *" />
                                        <p:calendar value="#{mapBean.date2}"  id="inlineCal2" showOn="button" />
                                        <h:outputLabel for="status" value="Status: *" />
                                        <p:selectOneMenu value="#{mapBean.status}" id="status" >  
                                            <f:selectItem itemLabel="Select One" itemValue="" />  
                                            <f:selectItem itemLabel="In Progress" itemValue="In Progress" />  
                                            <f:selectItem itemLabel="Finished" itemValue="Finished" />  
                                        </p:selectOneMenu>  
                                    </p:panelGrid>  
                                </p:panel>  





                                <p:panel id="additionalinfo" header="Additional Info">  
                                    <p:editor id="editor" value="#{mapBean.addinfo}" />  
                                </p:panel>  
                                <p:panel id="alert" header="Alert Level">  
                                    <p:selectOneMenu value="#{mapBean.alertlevel}" id="alertlevel">  
                                        <f:selectItems value="#{mapBean.values}"/>
                                    </p:selectOneMenu>   
                                </p:panel>  


                            </p:tab>
                           
                        </p:accordionPanel>
</p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
