<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://code.google.com/p/gmaps4jsf/"

      >

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Edit Crisis Params</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

      

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175"  collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:growl id="growl" showDetail="true" />  
                        <p:dataGrid var="crisisp" value="#{mapBean.crisisParams}" columns="3"  
                                    rows="12" paginator="true"  
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                    rowsPerPageTemplate="9,12,15"
                                    >  

                            <p:panel header="#{crisisp.szname}" style="text-align:center">  
                                <h:panelGrid columns="1" >  


                                    <h:outputText value="ID : #{crisisp.id}" />  
                                    <h:outputText value="Name : #{crisisp.szname}" />  
                                    <h:outputText value="Value : #{crisisp.szvalue}" />  
                                    <h:panelGrid columns="2" >
                                        <p:commandButton id="editparams2" value="Edit" 
                                                         action="#{mapBean.updateparams}"
                                                         type="submit"
                                                         >
                                            <f:setPropertyActionListener value="#{crisisp}"   
                                                                         target="#{mapBean.pSelectedCrisisParams}" /> 
                                        </p:commandButton>
                                        <p:commandButton id="editparams3" value="Delete" 
                                                         action="#{mapBean.deleteparams}"
                                                         type="submit"
                                                         >
                                            <f:setPropertyActionListener value="#{crisisp}"   
                                                                         target="#{mapBean.pSelectedCrisisParams}" /> 
                                        </p:commandButton>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                        </p:dataGrid>

                        <p:commandButton id="editparams4" value="Add" 
                                         action="#{mapBean.addparams}"
                                         type="submit"
                                         >

                        </p:commandButton>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
