<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            

        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                 
                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:growl id="growl" life="3000"/>

                        <p:panel id="cdetails" header="Crisis Manager">

                            <p:dataGrid var="crisis" value="#{mapBean.pDashList}" columns="3"  
                                        rows="12" paginator="true"  
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                        rowsPerPageTemplate="9,12,15"
                                        >  

                                <p:panel header="#{crisis.szTitle}" style="text-align:center">  
                                    <h:panelGrid columns="1" style="width:100%">  
                                        <p:graphicImage value="/images/esponder.png"/>   

                                        <h:outputText value="Start Date : #{crisis.pDateStart}" />  
                                        <h:outputText value="End Date : #{crisis.pDateEnd}" />  
                                        <h:outputText value="Status : #{crisis.szStatus}" />  
                                        <h:outputText value="Alert Level : #{crisis.szAlert}" />  
                                        <h:panelGrid columns="2" style="width:100%">  
                                            

                                            <p:commandButton id="editdevice2" value="Edit Crisis Details" 
                                                             action="#{mapBean.updateInfoCrisisFromManager}"
                                                             type="submit"
                                                             >
                                                <f:setPropertyActionListener value="#{crisis}"   
                                                                             target="#{mapBean.pSelectedCrisis}" /> 
                                            </p:commandButton>

                                            

                                            <p:commandButton id="editdevice4" value="Manage Crisis Parameter " 
                                                             action="#{mapBean.manageParamsFromManager}"
                                                             type="submit"
                                                             >
                                                <f:setPropertyActionListener value="#{crisis}"   
                                                                             target="#{mapBean.pSelectedCrisis}" /> 
                                            </p:commandButton>

                                        </h:panelGrid>  
                                    </h:panelGrid>  
                                </p:panel>  
                            </p:dataGrid>  
                            

                        </p:panel>

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
