<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   
    xmlns:p="http://primefaces.org/ui">

    <p:menu>
        <p:submenu label="Login">
            <p:menuitem value="Login" url="index.xhtml" />
        </p:submenu>
    </p:menu>
</ui:composition>