<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   
    xmlns:p="http://primefaces.org/ui">

    <p:menu> 
        <p:submenu label="My Account">


            <p:menuitem value="Profile" url="UserProfile.xhtml"  />
            
            <p:menuitem value="Logout" action="#{loginManager.logout}"  />
            
            



        </p:submenu>

        <p:submenu label="Dashboard">
            <p:menuitem value="Dashboard" action="#{mapBean.LoadDash}" />
        </p:submenu>
<!--        <p:submenu label="Admin">
            <p:submenu label="Create">
                <p:menuitem value="Organization" url="Organization.xhtml" />

            </p:submenu>
            <p:submenu label="Managers">
                <p:menuitem value="Organization" url="Organization_sel.xhtml" />

            </p:submenu>
        </p:submenu>-->



        <!--        <p:submenu label="Resources">
                    <p:menuitem value="User" url="User.xhtml" />
                    <p:menuitem value="Logistics" url="Logistics.xhtml" />
                    <p:menuitem value="Equipments" url="Equipments.xhtml" />
                    <p:menuitem value="Personnel" url="Personnel.xhtml" />
                    <p:menuitem value="Organization" url="Organization.xhtml" />
                </p:submenu>-->

        <p:submenu label="Crisis">

            <p:menuitem value="Manager"  action="#{mapBean.LoadCrisisManager}" /> 
            <!--            url="CrisisManager.xhtml" />-->
            <p:menuitem value="New Crisis"  action="#{crisiselementsmanagerbean.CreateNewCrisisProcess}" />

            <!--            <p:menuitem value="Resource" url="CrisisResource.xhtml" />-->

            <!--            <p:menuitem value="Operations" url="Operations.xhtml" />-->
            <!--            <p:menuitem value="Sensors" url="sensorsinfo.xhtml" />
                        <p:menuitem value="Journal" url="CrisisJournal.xhtml" />-->
            <!--            <p:menuitem value="View" url="View.xhtml" />-->
            <!--            <p:menuitem value="Optimizer" url="Optimizer.xhtml" />-->
            <!--            <p:menuitem value="Datafusion" url="Datafusion.xhtml" />-->
        </p:submenu>

        <p:submenu label="Tools">
            <p:menuitem value="Journal" url="CrisisJournal.xhtml" />
            <p:menuitem value="Datafusion" url="Datafusion.xhtml" />
        </p:submenu>
    </p:menu>

</ui:composition>