<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Operations</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                    <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form">
                <p:layout fullPage="true">

                   <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">

                        <p:accordionPanel>
                            
                            <p:tab title="Select Crisis Context">
                        <p:panelGrid columns="2">  
    <f:facet name="header">  
        Crisis Context
    </f:facet>  
                            <h:outputLabel  value="Crisis Context: " /> 
                       
             <p:selectCheckboxMenu value="#{operationsManager.selectedcrisis}" label="Crisis Context" filter="true" filterText="Filter" filterMatchMode="startsWith" panelStyle="width:220px">
        <f:selectItems value="#{operationsManager.crisis}" />
    </p:selectCheckboxMenu>

 <f:facet name="footer">  

        
         <p:commandButton id="Selectrescrisis" value="Select" 
                                                     action="#{operationsManager.selectcrisisbtn}" 
                                                     type="submit"
                                                     />
    </f:facet>  
</p:panelGrid> 

    

     </p:tab>
        
                            <p:tab title="Tactical and Strategic Level">
                                <p:dataTable id="dataTableStrategic" var="members" value="#{operationsManager.selectedStrategicPersonnel}">

                                    <f:facet name="header">
                                        List of Members - Strategic Level
                                    </f:facet>

                                    <p:column headerText="Name">


                                        <h:outputText value="#{members.name}" />


                                    </p:column>

                                    <p:column headerText="Age">
                                        <h:outputText value="#{members.age}" />
                                    </p:column>

                                    <p:column headerText="Organization">
                                        <h:outputText value="#{members.organization}" />
                                    </p:column>




                                </p:dataTable>

                                <p:growl id="messages"/>  

                                <p:splitButton value="Save" action="#{operationsManager.saveStrategic}" actionListener="#{buttonBean.saveStrategic}" update="messages dataTableStrategic" icon="ui-icon-disk">  
                                    <p:menuitem value="Add" actionListener="#{buttonBean.updateStrategic}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>  
                                    <p:menuitem value="Remove" actionListener="#{buttonBean.deleteStrategic}" update="messages" icon="ui-icon-close"/>  

                                </p:splitButton>


                                <p:dataTable id="dataTableTactical" var="memberst" value="#{operationsManager.selectedTacticalPersonnel}">

                                    <f:facet name="header">
                                        List of Members - Tactical Level
                                    </f:facet>

                                    <p:column headerText="Name">


                                        <h:outputText value="#{memberst.name}" />


                                    </p:column>

                                    <p:column headerText="Age">
                                        <h:outputText value="#{memberst.age}" />
                                    </p:column>

                                    <p:column headerText="Organization">
                                        <h:outputText value="#{memberst.organization}" />
                                    </p:column>




                                </p:dataTable>
                                <p:splitButton value="Save" actionListener="#{buttonBean.saveTactical()}" update="messages" icon="ui-icon-disk">  
                                    <p:menuitem value="Add" actionListener="#{buttonBean.updateTactical()}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>  
                                    <p:menuitem value="Remove" actionListener="#{buttonBean.deleteTactical()}" update="messages" icon="ui-icon-close"/>  

                                </p:splitButton>
                            </p:tab>
                            <p:tab title="Operational Level">  
                                <p:dataTable id="dataTableTeam" var="membersteam" value="#{operationsManager.selectedFRTeamPersonnel}">

                                    <f:facet name="header">
                                        List of Members - FR Team Level
                                    </f:facet>

                                    <p:column headerText="Team ID">


                                        <h:outputText value="#{membersteam.id}" />


                                    </p:column>

                                    <p:column headerText="Chief">


                                        <h:outputText value="#{membersteam.chief}" />


                                    </p:column>

                                    <p:column headerText="Age">
                                        <h:outputText value="#{membersteam.age}" />
                                    </p:column>

                                    <p:column headerText="Organization">
                                        <h:outputText value="#{membersteam.organization}" />
                                    </p:column>




                                </p:dataTable>

                                <p:splitButton value="Save" actionListener="#{buttonBean.saveTeam()}" update="messages" icon="ui-icon-disk">  
                                    <p:menuitem value="Add" actionListener="#{buttonBean.updateTeam()}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>  
                                    <p:menuitem value="Remove" actionListener="#{buttonBean.deleteTeam()}" update="messages" icon="ui-icon-close"/>  

                                </p:splitButton>

                                <p:dataTable id="dataTableTeammember" var="membersteamm" value="#{operationsManager.selectedFRTeamMembersPersonnel}">

                                    <f:facet name="header">
                                        List of Members - FR Team Members Level
                                    </f:facet>



                                    <p:column headerText="Name">


                                        <h:outputText value="#{membersteamm.name}" />


                                    </p:column>

                                    <p:column headerText="Age">
                                        <h:outputText value="#{membersteamm.age}" />
                                    </p:column>

                                    <p:column headerText="Organization">
                                        <h:outputText value="#{membersteamm.organization}" />
                                    </p:column>




                                </p:dataTable>


                                <p:splitButton value="Save" actionListener="#{buttonBean.saveTeamMembers()}" update="messages" icon="ui-icon-disk">  
                                    <p:menuitem value="Add" actionListener="#{buttonBean.updateTeamMembers()}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>  
                                    <p:menuitem value="Remove" actionListener="#{buttonBean.deleteTeamMembers()}" update="messages" icon="ui-icon-close"/>  

                                </p:splitButton>
                            </p:tab>
                        </p:accordionPanel>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
