<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                   <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">

                        <p:selectCheckboxMenu id="actorcc" value="#{sensorspage.selectedactor}" label="Actors" filter="true" filterText="Filter" filterMatchMode="startsWith" panelStyle="width:220px">
                            <f:selectItems value="#{sensorspage.actors}" />
                            <p:ajax update="sensors sensors2 sensors3 sensors4 sensors5 sensors6" process="actorcc" event="change" actionListener="#{sensorspage.chooseactor}" />
                        </p:selectCheckboxMenu>
    
                        
                        <p:panelGrid columns="3">
                        <p:lineChart id="sensors" value="#{sensorspage.linearModel}" legendPosition="e" zoom="true" animate="true"  
                                     title="Body Temperature Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart"/> 
                        
                        <p:lineChart id="sensors2" value="#{sensorspage.linearModel2}" legendPosition="e" zoom="true" animate="true"  
                                     title="Enviroment Temperature Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart2"/> 
                        
                        <p:lineChart id="sensors3" value="#{sensorspage.linearModel3}" legendPosition="e" zoom="true" animate="true"  
                                     title="Breath Rate Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart3"/> 
                        
                        <p:lineChart id="sensors4" value="#{sensorspage.linearModel4}" legendPosition="e" zoom="true" animate="true"  
                                     title="Heart Beat Rate Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart4"/> 
                        
                        <p:lineChart id="sensors5" value="#{sensorspage.linearModel5}" legendPosition="e" zoom="true" animate="true"  
                                     title="Activity Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart5"/> 
                        
                        <p:lineChart id="sensors6" value="#{sensorspage.linearModel6}" legendPosition="e" zoom="true" animate="true"  
                                     title="Gas Sensor" minY="0" maxY="100" style="width:400px;" widgetVar="chart6"/> 
                        

                        </p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
