<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder PKI Login</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body >

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 


                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header_i.xhtml"></ui:include>

                    </p:layoutUnit>

<!--                    <p:layoutUnit position="south" size="50" resizable="true"  closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Nephron
                        </div>
                    </p:layoutUnit>-->
<p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                        
                    </p:layoutUnit>

                    <!--                <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                                        <ui:include src="menu_i.xhtml"></ui:include>
                    
                                    </p:layoutUnit>-->

                    <p:layoutUnit position="center">

                        <center>     



                            <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                            <p:graphicImage value="images/nephronlogin.jpg" />
                            <h:panelGroup id="viewArea" layout="block">

                                <p:panelGrid columns="2" cellpadding="5">




                                    <p:outputLabel for="password" value="Passphase:" />
                                    <p:password  value="#{loginManager.password}" 
                                                 id="password" required="true" label="password" />

                                    <f:facet name="footer">

                                        <p:commandButton id="loginButton" value="Login" 
                                                         outcome="DashBoard"
                                                         action="#{loginManager.login}" 
                                                         type="submit"

                                                         >

                                        </p:commandButton>




                                    </f:facet>
                                </p:panelGrid>

                            </h:panelGroup>





                        </center>


                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>

