<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">



                <p:layoutUnit position="center">
                    
                    <h:form id="form">  
  
    <p:growl id="growl" showDetail="true" />  
  
    <p:dashboard id="board" model="#{dashboardBean.model}">  
        <p:ajax event="reorder" listener="#{dashboardBean.handleReorder}" update="growl" />  
  
        <p:panel id="sports" header="Active Calls">  
             <p:contextMenu for="cars">  
                            <p:menuitem value="Drop" update="cars" icon="ui-icon-close" actionListener="#{tableBean.deleteCar}"/>  
                        </p:contextMenu>  

                        <p:poll interval="2"   
                                listener="#{tableBean.populateRandomCars}" update="cars,cars2" />  

                        <p:dataTable id="cars" var="car" value="#{tableBean.carsSmall}" rowKey="#{car.callid}"  
                                     selection="#{tableBean.selectedCar}" selectionMode="single">  

                            <p:column headerText="Call ID">  
                                #{car.callid}  
                            </p:column>  


                            <p:column headerText="Attendants" >  
                                #{car.attendants}  
                            </p:column>

                            <p:column headerText="Call Start Time">  
                                #{car.starttime}  
                            </p:column>  




                        </p:dataTable>    
        </p:panel>  
  
        <p:panel id="finance" header="Call History">  
             <p:dataTable id="cars2" var="car2" value="#{tableBean.carsSmallarc}" rowKey="#{car2.callid}"  
                                     >  

                            <p:column headerText="Call ID">  
                                #{car2.callid}  
                            </p:column>  


                            <p:column headerText="Attendants" >  
                                #{car2.attendants}  
                            </p:column>

                            <p:column headerText="Call Start Time">  
                                #{car2.starttime}  
                            </p:column>  




                        </p:dataTable>     
        </p:panel>  
  
        <p:panel id="lifestyle" header="Esponder Server">  
            <h:outputText value="Server is Running"  />  
        </p:panel>  
  
        <p:panel id="weather" header="Call Manager Server">  
            <h:outputText value="Server is Running" />  
        </p:panel>  
  
        <p:panel id="politics" header="VOIP Server">  
            <h:outputText value="Server Status Unknown" />  
        </p:panel>  
    </p:dashboard>  
  
</h:form>  
                    
                   
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

