<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Alerts</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                
                

            </f:facet>
<style type="text/css">
     .ui-layout-unit-header{
                    background: #11111b url(../images/m3.png) 50% 50% repeat-x !important;
                     font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                }
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
                .ui-layout-unit-top .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-north .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-south .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-center .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-header{
                    background-color: #111116 !important;
                    border:none!important;
                    border-color: #111116;
                }

                .ui-layout-unit-content{
                    background-color: #111116;
                    border: none!important;
                    border-color: #111116;
                }

                .ui-layout-pane-north.ui-widget-content,.ui-layout-unit-north{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-south.ui-widget-content,.ui-layout-unit-south{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-center.ui-widget-content,.ui-layout-unit-center{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-layout-unit-top, .ui-layout-bd,.ui-layout-pane-north.ui-widget-content{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }  

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #663260!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #663260!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #43434d !important;
                    font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #43434d !important;
                    border: none;
                }

                .ui-datatable.datatablenephron th {
                    background: #11111b;
                    font-family: verdana;
                    font-size: 1em;
                }

                .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .datatablenephron.ui-datatable .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #11111b !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #ffffff !important;                    
                }
                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
                .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
                .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
                    cursor: text; 
                    background-color: #bb3260;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;

                }

                .ui-tabs .ui-tabs-nav li a, 
                .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
                    cursor: pointer; 

                    background-color: #CCC;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

                .ui-tabs .ui-tabs-nav { 
                    margin: 0px;
                    margin-top: 0px;
                    border: none;
                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;color: #11111b !important;border: none;


                }

                .ui-tabs.ui-tabs-top .ui-tabs-nav li { 

                    border:none;


                }
                .ui-tabs .ui-tabs-panel { 

                    border:none;

                }

                .ui-tabs { 

                    position: relative; 
                    border: none;
                    margin:0px;
                    margin-top: 0px;
                    background: #11111b url(../images/b3.png) 50% 50% repeat!important;color: #11111b !important;

                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;

                }

            </style>

            <style>  

                .mymenucss{

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    height:25px!important;

                    font-size: 11px!important;color:red!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;

                }

                .mymenucss.ui-menu .ui-menu .ui-menu-parent,
                .ui-menu-list .ui-widget-header,
                .ui-menu .ui-widget-header h1
                {


                    font-size: 11px!important;color:black!important;

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    font-weight: bold!important;

                }

                .companyHeaderGrid {
    border: none;
    background: #43434d;
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none;
    background: #43434d;
}

.panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #43434d!important;
    border: none;
                     font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
}

.panelnephron.ui-panel  {
    padding: 0;
    background: #43434d!important;
    border: none;
    
}
            </style>
        </h:head>

        <h:body style="width: 100%; height: 100%;background-color: #11111b;">
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

<p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

                             <p:menubar styleClass="mymenucss">  
    <p:menuitem value="Home" url="DashBoard.xhtml" icon="ui-icon-home" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>

    <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} WAKD Alerts" url="Alerts.xhtml"   icon="ui-icon-play" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
     
      
</p:menubar>
                        <p:panel id="panelallpage22"  style="margin-bottom:10px;" styleClass="panelnephron">  
                        
                        
                        
                        <p:panel id="panel" header="Alerts Filter" style="margin-bottom:10px;" styleClass="panelnephron">  
                            <p:panelGrid columns="7" styleClass="companyHeaderGrid">
<h:outputLabel for="typemdmc" value="Alert Type : "  style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                <p:selectOneMenu id="typemdmc" value="#{alertsBean.preset}">
                                    <f:selectItem itemLabel="All"   itemValue="0" />
                                    <f:selectItem itemLabel="Critical"   itemValue="1" />
                                    
                                </p:selectOneMenu>

                                <h:outputLabel for="dateto" value="Date From : "  style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                <p:calendar value="#{alertsBean.dateFromM}"  id="dateto" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                                                <h:outputLabel for="datefrom" value="Date To : "  style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                <p:calendar value="#{alertsBean.dateToM}"  id="datefrom" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                
                                
                                <p:commandButton value="Refresh" update="panel2234567,alertTable" id="ajax"  
                                                 actionListener="#{alertsBean.UpdateRecords}"/>
                            </p:panelGrid>
                        </p:panel>

                        <p:panel id="panel2234567" header="Alerts" style="margin-bottom:10px;" styleClass="panelnephron"> 
                            <p:dataTable var="patientdss" value="#{alertsBean.sumups2}"  paginator="true" rows="10"  
                                         id="alertTable" styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                <f:facet name="header">  
                                    WAKD Alerts
                                </f:facet>  

                                
                                

                                <p:column headerText="Patient Name"  id="dsspfname" style="text-align:center">  
                                    <h:outputText value="#{personalInfo.firstname} #{personalInfo.lastname}"/>  
                                </p:column>  

                                

                                <p:column headerText="Message"  id="dssplname" style="text-align:center">  
                                    <h:outputText value="#{patientdss.ruleresults1}"/>  
                                </p:column>  
                                <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                    <h:outputText value="#{patientdss.ruleresults2}"/>  
                                </p:column>  





                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data" styleClass="panelnephron">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data" styleClass="panelnephron">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  
</p:panel>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
