<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    
    xmlns:p="http://primefaces.org/ui">

      <p:graphicImage value="images/banner.png" />
    
    <style>
    .banner tr, .banner td {
    border: none;
    height: 100px;
    width: 50%;
    
    
}
</style>
<p:panelGrid id="panelstatuslistxxxxxxx" columns="2" styleClass="banner" >
<p:graphicImage value="images/logo2.jpg"  />
    <p:graphicImage value="images/banner.png" width="100%" height="100%" />
           </p:panelGrid>

    
    
</ui:composition>
