<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Measurements</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                         
            </f:facet>

            
            <style type="text/css">
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
                .ui-layout-unit-top .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-north .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-south .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-center .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-header{
                    background-color: #111116 !important;
                    border:none!important;
                    border-color: #111116;
                }

                .ui-layout-unit-content{
                    background-color: #111116;
                    border: none!important;
                    border-color: #111116;
                }

                .ui-layout-pane-north.ui-widget-content,.ui-layout-unit-north{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-south.ui-widget-content,.ui-layout-unit-south{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-center.ui-widget-content,.ui-layout-unit-center{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-layout-unit-top, .ui-layout-bd,.ui-layout-pane-north.ui-widget-content{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }  

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #663260!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #663260!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #43434d !important;
                    font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #43434d !important;
                    border: none;
                }

                .ui-datatable.datatablenephron th {
                    background: #11111b;
                    font-family: verdana;
                    font-size: 1em;
                }

                .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .datatablenephron.ui-datatable .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #11111b !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #ffffff !important;                    
                }
                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
                .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
                .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
                    cursor: text; 
                    background-color: #bb3260;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;

                }

                .ui-tabs .ui-tabs-nav li a, 
                .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
                    cursor: pointer; 

                    background-color: #CCC;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

                .ui-tabs .ui-tabs-nav { 
                    margin: 0px;
                    margin-top: 0px;
                    border: none;
                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;color: #11111b !important;border: none;


                }

                .ui-tabs.ui-tabs-top .ui-tabs-nav li { 

                    border:none;


                }
                .ui-tabs .ui-tabs-panel { 

                    border:none;

                }

                .ui-tabs { 

                    position: relative; 
                    border: none;
                    margin:0px;
                    margin-top: 0px;
                    background: #11111b url(../images/b3.png) 50% 50% repeat!important;color: #11111b !important;

                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;

                }

            </style>

            <style>  

                .mymenucss{

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    height:25px!important;

                    font-size: 11px!important;color:red!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;

                }

                .mymenucss.ui-menu .ui-menu .ui-menu-parent,
                .ui-menu-list .ui-widget-header,
                .ui-menu .ui-widget-header h1
                {


                    font-size: 11px!important;color:black!important;

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    font-weight: bold!important;

                }

                .companyHeaderGrid {
    border: none;
    background: #43434d;
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none;
    background: #43434d;
}

.panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #43434d!important;
    border: none;
                     font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
}

.panelnephron.ui-panel  {
    padding: 0;
    background: #43434d!important;
    border: none;
    
}
            </style>

        </h:head>

        <h:body style="width: 100%; height: 100%;background-color: #11111b;">
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

            <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

                        <p:menubar styleClass="mymenucss">  
                            <p:menuitem value="Home" url="DashBoard.xhtml"  icon="ui-icon-home" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                            
                            <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} Measurements" url="Measurments.xhtml"   icon="ui-icon-play" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>


                        </p:menubar>

                        <p:panel id="panelallpage22"  style="margin-bottom:10px;" styleClass="panelnephron">  
                        
                        <p:panel id="panel" header="Measurements Filter" style="margin-bottom:10px;" styleClass="panelnephron">  
                            <p:panelGrid columns="9" styleClass="companyHeaderGrid" >
                                <h:outputLabel for="typemdm" value="Preset : " style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                <p:selectOneMenu id="typemdm" value="#{wakdmess.preset}">
                                    <f:selectItem itemLabel="Daily"   itemValue="0" />
                                    <f:selectItem itemLabel="Weekly"   itemValue="1" />
                                    <f:selectItem itemLabel="Custom"   itemValue="2" />
                                    <f:ajax render="ajaxTarget" />
                                </p:selectOneMenu>
                                <p:outputPanel id="ajaxTarget">
                                    <h:outputLabel for="dateto" value="Date From : " rendered="#{wakdmess.preset == 2}" style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                    <p:calendar value="#{wakdmess.dateFromM}"  id="dateto" showOn="button" style="width:270px" pattern="dd/MM/yyyy HH:mm" rendered="#{wakdmess.preset == 2}">
                                    </p:calendar>
                                    
                                    <h:outputLabel for="datefrom" value="Date To : " rendered="#{wakdmess.preset == 2}" style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                    <p:calendar value="#{wakdmess.dateToM}"  id="datefrom" showOn="button" style="width:270px" pattern="dd/MM/yyyy HH:mm" rendered="#{wakdmess.preset == 2}">
                                    </p:calendar>
                                    
                                </p:outputPanel>
                                <h:outputLabel for="typemm" value="Type : " style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                                <p:selectOneMenu id="typemm" value="#{wakdmess.number}">
                                    <f:selectItem itemLabel="All"   itemValue="All" />
                                    <f:selectItem itemLabel="Conductivity Dialysate"   itemValue="Condactivity Dialysate" />
                                    <f:selectItem itemLabel="Pressure Bloodline"   itemValue="Pressure Bloodline" />
                                    <f:selectItem itemLabel="Pressure Dialysate"  itemValue="Pressure Dialysate" />
                                    <f:selectItem itemLabel="Temperature Bloodline In"   itemValue="Temp IN" />
                                    <f:selectItem itemLabel="Temperature Bloodline Out"   itemValue="Temp OUT" />
                                    <f:selectItem itemLabel="Temperature Dialysate In"   itemValue="Inlet Temp" />
                                    <f:selectItem itemLabel="Temperature Dialysate Out"   itemValue="Outlet Temp" />
                                    <f:selectItem itemLabel="Inlet pH"   itemValue="Inlet PH" />
                                    <f:selectItem itemLabel="Outlet pH"   itemValue="Outlet PH" />
                                    <f:selectItem itemLabel="Inlet Potassium"   itemValue="Inlet Potasium" />
                                    <f:selectItem itemLabel="Outlet Potassium"   itemValue="Outlet Potasium" />

                                    <f:selectItem itemLabel="Inlet Calcium"   itemValue="Inlet Calcium" />
                                    <f:selectItem itemLabel="Outlet Calcium"   itemValue="Outlet Calcium" />

                                    <f:selectItem itemLabel="Oxidation State"   itemValue="Inlet Uria" />
                                    <!--                                    <f:selectItem itemLabel="Outlet Uria"   itemValue="Outlet Uria" />-->
                                    <f:selectItem itemLabel="Blood pressure Diastolic"   itemValue="Diastolic" />

                                    <f:selectItem itemLabel="Heart Rate"   itemValue="Heartrate" />
                                    <f:selectItem itemLabel="Blood pressure Systolic"   itemValue="Systolic" />

                                    <!--                                    <f:selectItem itemLabel="Bodyfat"   itemValue="Bodyfat" />-->
                                    <f:selectItem itemLabel="Weight"   itemValue="Weight" />
                                </p:selectOneMenu> 
                                <p:commandButton value="Refresh" update="panel2234567,sensorsTable" id="ajax"  
                                                 actionListener="#{wakdmess.UpdateRecords}" />
                            </p:panelGrid>
                        </p:panel>

                        <p:poll interval="#{wakdmess.brefresh}"   
                                listener="#{wakdmess.increment}" update="panel2234567" /> 

                        <p:panel id="panel2234567" header="Measurements Data" style="margin-bottom:10px;" styleClass="panelnephron"> 
                            <p:dataTable var="sensordata" value="#{wakdmess.sensors}"  paginator="true" rows="16"  
                                         id="sensorsTable" styleClass="datatablenephron" tableStyleClass="datatablenephron">  






                                <p:column headerText="Date"  id="dsspfname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.time}"/>  
                                </p:column>  

                                <p:column headerText="Type"  id="dsspfaname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.typename}"/>  
                                </p:column>  

                                <p:column headerText="Value"  id="dssplname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.value}"/>  
                                </p:column>  
                                
                                <p:column headerText="Unit"  id="unitname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.units}"/>  
                                </p:column>  






                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data" styleClass="panelnephron">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data" styleClass="panelnephron">   
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  
</p:panel>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
