@media all /* HTML RESET */
{
    
	div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,body,cite,code,del,dfn,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,dl,dt,dd,
	fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-style:inherit;font-family:inherit;}
	input{margin:0;font-style:inherit;font-family:inherit;}
	table{font-size:1em;}
	caption,th,td{text-align:left;font-weight:normal;}
	body{color:#000;background-color:#fff;font-family: Verdana, Arial, Helvetica, "DejaVu Sans", sans-serif;font-size:62.5%;line-height:1.5;}
	p{padding:5px 0;}
	h1,h2,h3,h4,h5,h6{padding:4px 0;margin:4px 0;font-weight:normal;}
	h1{font-size:180%;color:#135;}
	h2{font-size:150%;color:#369;}
	h3{font-size:140%;color:#036;}
	h4{font-size:130%;color:#036;}
	h5{font-size:120%;color:#369;}
	h6{font-size:110%;color:#036;}
	ol,ul{margin:5px 0 0 0;padding:0 0 0 30px;}

/* LINK */

	a{color:#027AC6;text-decoration:underline;}
	a:visited{color:#551A8B;}
	a:hover,a:focus,a:active{color:#036;}

/* LINKS WITH ICON */

	html body a.link-ico{border:0;text-decoration:none;}
	html body a.link-ico span{text-decoration:underline;}
	html body a.link-ico img{border:0;vertical-align:middle;padding:0 0 0 4px;}
	html body a.link-ico span.link-size{color:#333;text-decoration:none;padding:0 0 0 4px;}

/* LINKS COMPONENTS: additionnal tools, webservice icon, ... */

	html body a.link-components{position:relative;left:0;top:0;display:inline-block;font-size:12px;text-decoration:none;padding:0;margin:0;border:0;}
	html body a.link-components span.s{position:absolute;left:0;top:0;width:16px;height:16px;cursor:pointer;overflow:hidden;display:none;}
	html body a.link-components:hover span.s,
	html body a.link-components:focus span.s,
	html body a.link-components:active span.s{display:block;}

/* ACCESSIBILITY ELEMENT */

	.off-screen{position:absolute;left:-999px;top:-999px;}

/* RESET ANY ORDER LIST: language selector, additionnal tools ... */

	.reset-list,
	.reset-list ul,
	.reset-list li{margin:0;padding:0;list-style-type:none;}
}
@media screen /* LAYOUT */
{
	.layout{min-width:770px;max-width:984px;margin:0 auto;font-size:120%;background-color:#fff;border:1px solid #369;border-top:0;}
	.layout-body{float:left;width:100%;clear:both;position:relative;}
	.layout-wrapper{float:left;width:100%;margin-right:-200px;}
	.layout-wrapper-reset{margin-right:200px;}
	.layout-left{float:left;width:200px;}
	.layout-content{margin-left:200px;padding:15px;}
	.layout-content-reset{float:left;width:100%;}
	.layout-right{float:right;width:195px;padding-top:40px;padding-right:5px;}
	.layout-footer{clear:both;padding:15px 0;text-align:center;color:#396ea2;}

/* ALTERNATE LAYOUT	*/

	.layout-noleft .layout-content, /* no left layout */
	.layout-noright .layout-wrapper,.layout-noright .layout-wrapper-reset /* no right layout */
	{margin:0;}

	/* fallback: if you forget to remove the correct div from layout */

	.layout-noleft .layout-left,
	.layout-noright .layout-right{display:none;}

}
@media screen /* TEMPLATE 2012 */
{
/* ACCESSIBILITY MENU */

	#accessibility-menu{position:absolute;left:0;top:-100px;z-index:999;margin:0;padding:0;float:left;width:100%;}
	#accessibility-menu a,
	#accessibility-menu a:focus,
	#accessibility-menu a:active{text-align:center;position:absolute;left:0;right:0;top:-100px;display:block;padding:6px 0;border:0;text-decoration:underline;background-color:#000;border:2px solid #fff;color:#fff;font-weight:bold;}
	#accessibility-menu a:focus,
	#accessibility-menu a:active{top:100px;}

/* BANNER */

	#header{position:relative;z-index:10;min-height:145px;background-color:#fff;line-height:1.4;}
	#banner-flag{position:absolute;left:40px;top:15px;z-index:8;color:#000;width:172px;height:119px;}
	#header #banner-title-text{margin:0;border:0;font-size:24px;line-height:1.2;padding-left:240px;position:absolute;top:65px;color:#000;}
	#header #banner-title-text span{display:block;font-size:18px;}
	#banner-image-right{position:absolute;right:0;top:38px;z-index:7;height:107px;width:210px;}
	#banner-image-title{position:absolute;left:0;top:0;height:145px;width:100%;z-index:6;background-repeat:no-repeat;background-position:0 0;}

/* IMAGE TITLE IN THE BANNER */

	.title-be{background-image:url("../images/title/title_be.gif");}
	.title-bg{background-image:url("../images/title/title_bg.gif");}
	.title-cs{background-image:url("../images/title/title_cs.gif");}
	.title-da{background-image:url("../images/title/title_da.gif");}
	.title-de{background-image:url("../images/title/title_de.gif");}
	.title-el{background-image:url("../images/title/title_el.gif");}
	.title-en{background-image:url("../images/title/title_en.gif");}
	.title-es{background-image:url("../images/title/title_es.gif");}
	.title-et{background-image:url("../images/title/title_et.gif");}
	.title-fi{background-image:url("../images/title/title_fi.gif");}
	.title-fr{background-image:url("../images/title/title_fr.gif");}
	.title-ga{background-image:url("../images/title/title_ga.gif");}
	.title-hu{background-image:url("../images/title/title_hu.gif");}
	.title-it{background-image:url("../images/title/title_it.gif");}
	.title-lt{background-image:url("../images/title/title_lt.gif");}
	.title-lv{background-image:url("../images/title/title_lv.gif");}
	.title-mt{background-image:url("../images/title/title_mt.gif");}
	.title-nl{background-image:url("../images/title/title_nl.gif");}
	.title-pl{background-image:url("../images/title/title_pl.gif");}
	.title-pt{background-image:url("../images/title/title_pt.gif");}
	.title-ro{background-image:url("../images/title/title_ro.gif");}
	.title-si{background-image:url("../images/title/title_si.gif");}
	.title-sk{background-image:url("../images/title/title_sk.gif");}
	.title-sl{background-image:url("../images/title/title_sl.gif");}
	.title-sv{background-image:url("../images/title/title_sv.gif");}
	.title-ta{background-image:url("../images/title/title_ta.gif");}
	.title-hr{background-image:url("../images/title/title_hr.gif");}
	.title-is{background-image:url("../images/title/title_en.gif");}
	.title-mk{background-image:url("../images/title/title_en.gif");}
	.title-no{background-image:url("../images/title/title_en.gif");}
	.title-tr{background-image:url("../images/title/title_en.gif");}

/* SERVICES */

	#services{font-size:90%;font-weight:normal;position:absolute;left:0;top:2px;right:0;z-index:18;padding:1px 5px 1px 0;text-align:right;}
	#services li{display:inline;padding:3px 0;}
	#services a,
	#services a:visited{background:url("../images/services-separator.gif") transparent left center no-repeat;color:#396ea2;text-decoration:none;margin:0;padding:0 0 3px 5px;border:0;font-weight:normal;display:inline-block;}
	#services a:focus,
	#services a:hover,
	#services a:active{color:#396ea2;text-decoration:underline;border:0;}
	#services a.first{border:0;background-image:none;}

	.js #services{padding-right:140px;}

	/* adjust some elements on font-size change */

	.font-size-2 #services{padding-right:150px;}
	.font-size-3 #services{padding-right:172px;}

/* LANGUAGES SELECTOR (NOSCRIPT) */

	.language-selector{background-color:#fff;font-size:90%;position:absolute;right:0;top:20px;z-index:10;padding:1px;}
	.language-selector a{padding:1px 2px;margin:0;}
	.language-selector li{display:inline;float:left;margin:0 1px;}
	.language-selector li.selected{text-align:center;display:inline-block;padding:0 2px;background-color:#074A8B;color:#fff;text-decoration:none;margin:0;}
	.language-selector li.non-official a{background-color:#def;}

	.js .language-selector{display:none;}

/* LANGUAGES SELECTOR (SCRIPT) */

	.language-selector-close,
	.language-selector-open{font-size:90%;position:absolute;top:1px;right:1px;z-index:99;overflow:hidden;width:130px;background-color:#fff;border:1px solid #9ab;}
	.language-selector-close li{padding:1px;position:absolute;left:-999px;top:-999px;}
	.language-selector-open li,
	.language-selector-close li.selected{padding:1px;position:relative;left:0;top:0;width:128px;}
	.language-selector-close a,
	.language-selector-open a,
	.language-selector-close a:visited,
	.language-selector-open a:visited{display:block;padding:0 3px;border:0;text-decoration:none;color:#396ea2;}
	.language-selector-close a:hover,
	.language-selector-close a:focus,
	.language-selector-close a:active,
	.language-selector-open a:hover,
	.language-selector-open a:focus,
	.language-selector-open a:active{background-color:#def;color:#036;}
	.language-selector-open li.lang-separate{border-top:1px solid #9ab;margin:2px 0 0 0;}
	.language-selector-open img,
	.language-selector-close img{position:absolute;right:0;top:0;z-index:1;width:16px;height:16px;}
	.language-selector-alone a:hover{background-color:transparent;color:#396ea2;}
	.language-selector-alone{height:25px;}

	/* adjust some elements on font-size change */

	.font-size-2 .language-selector-alone{height:30px;}
	.font-size-3 .language-selector-alone{height:35px;}

	.font-size-2 .language-selector-close,
	.font-size-2 .language-selector-open{width:140px}
	.font-size-2 .language-selector-open li,
	.font-size-2 .language-selector-close li.selected{width:138px}
	.font-size-2 .language-selector-open img,
	.font-size-2 .language-selector-close img{top:2px}

	.font-size-3 .language-selector-close,
	.font-size-3 .language-selector-open{width:162px}
	.font-size-3 .language-selector-open li,
	.font-size-3 .language-selector-close li.selected{width:160px}
	.font-size-3 .language-selector-open img,
	.font-size-3 .language-selector-close img{top:4px}

/* NAVIGATION PATH (CRUMBTRAILS) */

	#path{font-size:90%;background-color:#074A8B;min-height:18px;color:#fff;padding:0 0 1px;overflow:hidden;line-height:1.6}
	#path ul{position:relative;z-index:7;padding-left:10px;}
	#path li{white-space:nowrap;display:inline;padding:0 0 0 12px;float:left;background:url("../images/breadcrumb.gif") transparent left center no-repeat;}
	#path li.first{background-image:none;padding-left:0;padding-right:0;}
	#path a,
	#path a:visited{color:#fff;text-decoration:none;border:0;}
	#path a:hover,
	#path a:focus,
	#path a:active{text-decoration:underline;color:#fff;border:0;}

/* ADDTIONNAL TOOLS */

	#additional-tools{position:absolute;right:0;top:5px;padding:0;margin:0;display:none;overflow:hidden;}
	#additional-tools li{display:inline;float:left;margin:0 4px 0 0;}
	#additional-tools span.s{background:url("../images/tools-sprite.png") transparent -999px -999px no-repeat;}
	#additional-tools li.print span.s{background-position:0 -16px;}
	#additional-tools li.font-decrease span.s{background-position:-32px -16px;}
	#additional-tools li.font-increase span.s{background-position:-16px -16px;}

	.js #additional-tools{display:block;}

	.layout-noright #additional-tools{position:relative;top:0;float:right;margin:5px -15px 0 5px;}

	/* alternate font-size set */

	.font-size-1{font-size:62.5%;}
	.font-size-2{font-size:80%;}
	.font-size-3{font-size:100%;}
}
@media screen /* WEBSERVICE */
{
/* all translations box links [en] [fr] ... */

	html body span.ws-links a,
	html body span.ws-links a:visited{display:inline-block;min-width:17px;text-align:center;margin:0;border:1px solid #000;text-decoration:none;background-color:#fff;color:#000;vertical-align:baseline;line-height:1;padding:1px 0 2px;font-size:10px;}
	html body span.ws-links a:visited{color:#551A8B;border:1px solid #551A8B;}
	html body span.ws-links a:hover,
	html body span.ws-links a:focus,
	html body span.ws-links a:active{text-decoration:none;background-color:#369;border:1px solid #036;color:#fff;outline:none;}
	html body span.ws-links a span{position:absolute;left:-9999px;top:-9999px;}

	/* update translations box when font-size change */

	.font-size-2 .ws-links a,
	.font-size-2 .ws-links a:visited{width:20px;font-size: 80%;}
	.font-size-3 .ws-links a,
	.font-size-3 .ws-links a:visited{width:25px;font-size: 100%;}

/* WS ICON */

	html body a.ws-ico{display:none;}
	html body.js a.ws-ico{display:inline-block;position:relative;top:2px;text-decoration:none;padding:0;margin:0;border:0;}
	html body.js a.ws-ico span.s{position:absolute;left:0;top:0;width:16px;height:13px;cursor:pointer;overflow:hidden;display:none;background:url("/wel/images/languages/ws-hover.gif") transparent left top no-repeat;}
	html body.js a.ws-ico:hover span.s,
	html body.js a.ws-ico:focus span.s,
	html body.js a.ws-ico:active span.s{display:block;}

/* WS LOADING */

	html body.js .ws-loading a.ws-ico span.s{display:none;}

/* WS-MODAL NOSCRIPT */

	.ws-modal .ws-links{display:none;}
	.ws-modal a.ws-ico{display:none;}

/* WS */

	.js .ws-popup a.ws-ico{display:inline-block;}
	.js .ws-popup span.ws-links{position:absolute;left:-999px;top:-999px;}

/* WS POPUP */

	.js .ws-popup-show{position:relative;z-index:888;}
	.js .ws-popup-show span.ws-links{position:absolute;left:-5px;top:0;z-index:9999;display:inline-block;width:170px;}
	.js .ws-popup-show span.ws-popup-layout{position:absolute;left:0;top:0;border:1px solid #369;padding:5px;background:url("/wel/images/languages/gradiant_02.gif") #fff left bottom repeat-x;}
	.js .ws-popup-show span.ws-links a{margin:0 2px 3px 0;}
}
@media print
{
/* GENERAL */

	*{color:#000 !important;border:0;background-color:transparent;background-image:none;}
	html,body{height:auto;}
	a{text-decoration:underline;}
	ul,ul li{list-style-type:disc;}
	ol,ol li{list-style-type: decimal;}
	h1,h2,h3,h4,h5,h6{padding:0 0 5px 0;font-weight:bold;border:0;}

/* BANNER */

	#header{height:130px;padding:0;margin:0 0 10px 0;overflow:hidden;float:left;clear:both;width:100%;position:relative;}
	#banner-flag{top:0;}
	#header #banner-title-text{position:absolute;left:210px;top:0;font-size:24px;height:auto;margin:0;padding:40px 0 0 0;color:#000;overflow:hidden;}
	#header #banner-title-text span{font-weight:bold;display:block;font-size:18px;position:relative;top:-10px;}
	#banner-background,
	#banner-image-right,
	#banner-image-title{background-image:none;}

/* LAYOUT */

	.layout{font-size:120%;padding:10px;margin:0;min-width:640px;width:640px;max-width:640px;}
	.layout-wrapper,
	.layout-wrapper-reset,
	.layout-content{margin:0;}
	.layout-left,
	.layout-right,
	.layout-footer{display:none;}

/* HIDDEN */

	.off-screen,#accessibility-menu,#banner-image-right,#banner-image-title,#services,#language-selector,#language-selector-close,#path,
	#additional-tools,.ws-ico,.link-ico img,.link-size,.ws-links,html body a.link-components{display:none;}
}