<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Weather Station</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">



                <p:layoutUnit position="center">
                    <h:form id="form">

                        <p:poll interval="60"   
                                listener="#{weatherstationmeasurments.populateRandomCars}" update="board" />  
                        <p:dashboard id="board" model="#{dashboardBean.model}">  



                            <p:panel id="sports" header="Temperature">  
                                <p:meterGaugeChart id="custom1" value="#{weatherstationmeasurments.temperatureModel}" showTickLabels="true" labelHeightAdjust="110" intervalOuterRadius="130"   
                                                   seriesColors="66cc66, 93b75f, E7E658, cc6666" style="width:400px;height:250px" title="Temperature" label="Degrees C"/>
                            </p:panel>  


                            <p:panel id="finance" header="Weather Information">  
                                
                               <p:panelGrid columns="1">
    <f:facet name="header">
        <p:graphicImage value="#{weatherstationmeasurments.gpcurl}" />
    </f:facet>
 
<p:inputTextarea rows="6" cols="33" value="#{weatherstationmeasurments.textvalue}"/>
                        </p:panelGrid>
                            </p:panel>  

                            <p:panel id="lifestyle" header="Wind Information">
                                    
                                <p:meterGaugeChart id="custom3" value="#{weatherstationmeasurments.windspeed}" showTickLabels="true" labelHeightAdjust="110" intervalOuterRadius="130"   
                                                   seriesColors="66cc66, 93b75f, E7E658, cc6666" style="width:400px;height:250px" title="Wind Speed" label="km/h"/>
                            
                            <h:outputText value="#{weatherstationmeasurments.valuewww}" /> 
                            </p:panel>  

                            <p:panel id="weather" header="Humidity">  
                                <p:meterGaugeChart id="custom4" value="#{weatherstationmeasurments.relativehumidity}" showTickLabels="true" labelHeightAdjust="110" intervalOuterRadius="130"   
                                                   seriesColors="66cc66, 93b75f, E7E658, cc6666" style="width:400px;height:250px" title="Humidity" label="%"/> 
                            </p:panel>  

                            <p:panel id="politics" header="Wind Gust">  
                                <p:barChart id="horizontal" value="#{weatherstationmeasurments.windgust}"  style="height:250px"  
                                            title="Wind Gust Km/H" orientation="vertical" min="0" max="20"/>   
                            </p:panel>

                            <p:panel id="politics22" header="Rain">  
                                <p:barChart id="rain" value="#{weatherstationmeasurments.rain_gauge}"  style="height:250px"  
                                            title="Rain cm" orientation="vertical" min="0" max="200"/>   
                            </p:panel>  

                        </p:dashboard>  
<!--                        
                        <p:panelGrid columns="1">
    <f:facet name="header">
        <p:graphicImage value="#{weatherstationmeasurments.gpcurl}" />
    </f:facet>
 
<p:inputTextarea rows="6" cols="33" value="#{weatherstationmeasurments.textvalue}"/>
                        </p:panelGrid>
                        -->



                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

